.card{
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  max-width: 250px;
  margin: 20px;
  padding: 20px;
  box-shadow:5px 5px 5px ;
  display: inline-block;
}

.card-image{
  max-width: 250px;
}